<div class="container-fluid bg-secondary p-0">
  <div class="row g-0">
    <div class="col-lg-6 py-6 px-5">
      <h1 class="display-5 mb-4">Découvrez  <span class="text-primary">AccordVision</span></h1>
      <h4 class="text-primary mb-4">
        Estimation en temps réel pour votre crédit.
      </h4>
      <p class="mb-4">
        Vous envisagez de contracter un prêt? Chez vermeg, nous utilisons des technologies de pointe pour vous fournir une estimation précise en temps réel. Aucune surprise, juste une technologie intelligente à votre service pour vous aider à prendre des décisions éclairées. Que vous envisagiez un crédit immobilier, un prêt personnel ou un investissement, nous sommes là pour vous guider.
      </p>
      <a routerLink="predict" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Obtenir une estimation</a>
    </div>
    <div class="col-lg-6 py-6 px-5 bg-primary">
      <h1 class="display-5 text-white mb-4">Découvrez notre <span class="text-secondary">Chatbot Financier</span></h1>
      <h4 class="text-secondary mb-4">
        Un génie financier à votre service.
      </h4>
      <p class="text-white mb-4">
        Vous avez des questions ou des préoccupations financières? Notre chatbot est là pour vous. Conçu spécifiquement pour le domaine financier, il vous offre une assistance 24/7. Que ce soit pour des éclaircissements sur un investissement ou des détails sur la manière dont les prêts fonctionnent, notre chatbot est là pour vous aider.
      </p>
      <a routerLink="chatbot" class="btn btn-secondary py-md-3 px-md-5 rounded-pill">Parlez au Chatbot</a>
    </div>
  </div>
</div>
