<div class="container-fluid bg-secondary mt-1">
  <div class="row g-0">
    <div class="col-lg-6" style="min-height: 500px;">
      <div class="position-relative h-100">
        <img class="position-absolute w-100 h-100" src="../../../assets/images/blog-2.jpg" style="object-fit: cover;">
      </div>
    </div>
    <div class="col-lg-6 text-center mt-4">
      <h1 class="display-5 mb-6">Ce que disent nos utilisateurs</h1>

      <div class="container">
        <div id="carouselFeedbacks" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                Grâce à vermeg, j'ai reçu une estimation de crédit en quelques minutes ! C'était rapide et précis.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Ahmed Amine Chtiba</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                Les conseils financiers fournis par le chatbot de vermeg m'ont été d'une grande utilité. Une innovation remarquable en finance.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Cyrine Chouchane</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                AccordVision m'a offert une perspective unique sur ce à quoi je devrais m'attendre lors de mes discussions financières avec les banques.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Mariem Gnaoui</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                Le chatbot de vermeg est mon conseiller financier personnel. Toujours disponible, il répond à mes questions les plus complexes.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Mohamed Yassine Gharbi</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                Avec AccordVision, j'ai eu une longueur d'avance lors de mes rendez-vous bancaires. Une révolution dans le domaine financier.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Ons Maghraoui</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                Le chatbot de vermeg est une mine d'informations. Il m'a aidé à mieux comprendre le monde de la finance et à prendre des décisions éclairées.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Abderrahmen Ben Azzouz</small>
            </div>

            <div class="carousel-item text-center p-4" data-bs-interval="1000">
              <p class="fs-5">
                <i class="fa fa-quote-left text-primary"></i>
                AccordVision m'a permis de me préparer efficacement pour mes discussions financières. Une expérience utilisateur sans précédent.
                <i class="fa fa-quote-right text-primary"></i>
              </p>
              <small class="testimonial-name">- Aziz Jaziri</small>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedbacks" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedbacks" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
