/* Style du formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Style des étiquettes */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style des champs de saisie */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style du bouton */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style du bouton au survol */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00FF00; /* Couleur de fond pour un message de succès (vert dans cet exemple) */
    color: #FFFFFF; /* Couleur du texte */
    padding: 10px; /* Espace intérieur */
    text-align: center; /* Centre le texte */
  }
    