.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.credit-card {
  width: calc(33.33% - 2rem);
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5; /* Assure une couleur de fond pour l'en-tête lors du défilement */
  color: #333;
  position: relative;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  .card-delete-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: #b00020; // Pour assombrir un peu l'icône au survol
    }
  }
  .search-container {
    position: relative;
    width: 20%; /* Ajustez cette valeur si nécessaire */
    margin-right: 20px; /* marge à droite */
    margin-left: 5px; /* marge à gauche */
    margin-bottom: 1px; /* marge en bas pour espacer la barre de recherche du tableau */
    display: inline-block; /* permettre à d'autres éléments de s'aligner à côté */
  }
  .search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border 0.3s ease;
  }
  .search-input:focus {
    border-color: #007BFF; /* Changer la couleur de la bordure au focus */
    outline: none;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;  /* Espace pour l'icône de recherche */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .credit-card-logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }

  .credit-card-number {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 2rem 0;
    text-align: center;
  }

  .credit-card-details {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  .credit-card-name {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
}
