.full-height {
  min-height: 100vh;
}

.registration-section {
  padding: 20px;
}

.card {
  border-radius: 15px; /* Rounded edges for the card */
  overflow: hidden; /* To respect child's border-radius */
}

.card-body {
  padding: 40px; /* More breathing space inside the card */
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(34, 139, 230, 0.7);
  transform: translateY(-2px);
}

.btn-primary {
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-1px);
}
.btn-light-blue {
  background-color: #b3e0ff; /* this is just a sample light blue color */
  border: none;
  color: #fff; /* white text color */
}
/* Ajoutez une classe CSS pour élargir le champ de confirmation de mot de passe */
.custom-password-input {
  width: 300px; /* Vous pouvez ajuster cette valeur selon vos besoins */
}
