<div class="container-fluid bg-dark text-secondary p-1 centered-content">
  <i class="fa fa-balance-scale fa-3x text-primary icon" aria-hidden="true"></i>
  <h1 class="title">Équilibreur de Portefeuille</h1>
  <h2 class="subtitle">Optimisation et Gestion de Portefeuille</h2>
  <p class="text">Equilibrez et optimisez votre portefeuille pour améliorer la performance et minimiser le risque selon vos critères personnels.</p>
</div>

<iframe width="100%" height="700" [src]="streamlitUrl" frameborder="0"></iframe>
