<div class="blog-item">
    <div class="position-relative overflow-hidden">
        <img class="img-fluid" [src]="data.img" alt="">
    </div>
    <div class="bg-secondary d-flex">
        <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">
            <span>{{data.day}}</span>
            <h5 class="text-uppercase m-0">{{data.month}}</h5>
            <span>{{data.month}}</span>
        </div>
        <div class="d-flex flex-column justify-content-center py-3 px-4">
            <div class="d-flex mb-2">
                <small class="text-uppercase me-3"><i [class]="data.icon1"></i>Admin</small>
                <small class="text-uppercase me-3"><i [class]="data.icon1"></i>Web
                    Design</small>
            </div>
            <a class="h4" href="">{{data.text}}</a>
        </div>
    </div>
</div>