<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1500">
      <img src="../../../assets/images/blog-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-text">
          <h5 class="text-white text-uppercase">Consultez Nos Marchés Financiers</h5>
          <h1 class="display-1 text-white mb-md-4">Passer des ordres en un instant !</h1>
          <a routerLink="trade" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Marchés Financiers</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/images/blog-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-text">
          <h5 class="text-white text-uppercase">Chatbot Financier</h5>
          <h1 class="display-1 text-white mb-md-4">Votre assistant virtuel en finance</h1>
          <a routerLink="chatbot" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Démarrer la discussion</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
