/* Add this class in your component's CSS file */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This will apply the styles only when the modal is open and shown */
.modal.show .modal-dialog-centered {
  min-height: calc(100% - (.5rem * 2));
}

.modal-dialog-centered .modal-content {
  margin: auto;
}
