<div class="modal-header">
  <h4 class="modal-title">Changer mot de passe</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #changePasswordForm="ngForm" (ngSubmit)="openConfirmationModal()">
    <div class="form-group">
      <label for="oldPassword">Ancien mot de passe</label>
      <input type="password" id="oldPassword" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" #oldPasswordModel="ngModel" required>
      <div *ngIf="oldPasswordModel.touched && oldPasswordModel.invalid" class="alert alert-danger">
        Vous devez entrer un ancien mot de passe.
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">Nouveau mot de passe</label>
      <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword" #newPasswordModel="ngModel" required>
      <div *ngIf="newPasswordModel.touched && newPasswordModel.invalid" class="alert alert-danger">
        Vous devez entrer un nouveau mot de passe.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmez le nouveau mot de passe</label>
      <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordModel="ngModel" required>
      <div *ngIf="confirmPasswordModel.touched && confirmPasswordModel.invalid" class="alert alert-danger">
        Vous devez confirmer le nouveau mot de passe.
      </div>
      <div *ngIf="confirmPasswordModel.touched && newPassword !== confirmPassword" class="alert alert-danger">
        Les mots de passe ne correspondent pas.
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annuler</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="changePasswordForm.invalid  || newPassword !== confirmPassword">
        Modifier
      </button>




    </div>
  </form>
</div>
